<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <!-- Note: Do not specify any NuGet feeds in this file, everything is available on the fallback NuGet.org. -->
  <packageSources>
    <clear />
    <!-- V8 nuget isn't published on nuget.org -->
    <add key="react-native" value="https://pkgs.dev.azure.com/ms/react-native/_packaging/react-native-public/nuget/v3/index.json" />
  </packageSources>
</configuration>
